<!doctype html>
<html>
  <head>
    <title>
      Login
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vue-dev.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a href="/frontpage.html"><span class="glyphicon glyphicon-home"></span> Home</a>
          </li>

          <li>
            <a href="/db"><span class="glyphicon glyphicon-hdd"></span>Raw Data</a>
          </li>
          <li>
            <a href="/upload"><span class="glyphicon glyphicon-cloud-upload"></span>Upload</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-right">
            <a href="/account"><span class="glyphicon glyphicon-user"></span>Account</a>
          </li>
        </ul>
      </div>
    </nav>

    <link rel="stylesheet"
      href="../styles.css" >

  </head>

  <body>
    <div id="app-container" >
      <form id="login-form" >
        <div id="username-field"
          v-bind:class="
            ( usernameErrors.length )
            ? 'form-field form-field-with-error'
            : 'form-field'
          " >
          <label for="username" >
            Username:
            <input id="username-control"
              type="text"
              name="username"
              v-model="username" />
              <!-- note that vue example uses v-model -->
          </label>

          <!-- output for field? (to list errors in) -->
          <ul id="username-errors-display"
            v-if="usernameErrors.length" >
            <li v-for="error in usernameErrors" >
              <p>
                {{ error }}
              </p>
            </li>
          </ul>
        </div><!-- username-field -->

        <div id="password-field"
          v-bind:class="
            ( passwordErrors.length )
            ? 'form-field form-field-with-error'
            : 'form-field'
          " >
          <label for="password" >
            Password:
            <input id="password-control"
              type="password"
              name="password"
              v-model="password" />
              <!-- note that vue example uses v-model -->
          </label>

          <!-- output for field? (to list errors in) -->
          <ul id="password-errors-display"
            v-if="passwordErrors.length" >
            <li v-for="error in passwordErrors" >
              <p>
                {{ error }}
              </p>
            </li>
          </ul>
        </div><!-- password-field -->

        <div id="form-output"
          v-if="formOutputMessage.length" >
          <!--
            info, error, result?
            info = sending stuff to server
            error = list of fields with issues?
          -->
          <p>
            {{ formOutputMessage[ 0 ] }}
          </p>
        </div>

        <button id="login-button"
          onclick="event.preventDefault(); vueRoot.isLoadingModalShown = true; setTimeout( () => { vueRoot.isLoadingModalShown = false; vueRoot.isFailResultModalShown = true; }, 2000 ); return false;" >
          Login
        </button>

        <a href="../create/index.html" >
          create an account
        </a>
      </form>


      <modal v-if="isLoadingModalShown">
        <h2 slot="header">
          Loading
        </h2>

        <p slot="body">
          sending credentials to server
        </p>

        <p slot="footer">
          please wait
        </p>
      </modal>

      <modal v-if="isFailResultModalShown">
        <h2 slot="header">
          Login Failed
        </h2>

        <p slot="body">
          credentials did not match any accounts
        </p>

        <div slot="footer">
          <button v-on:click="isFailResultModalShown = false;">
            Ok
          </button>
        </div>
      </modal>
      <!--
      -->
    </div>
  </body>
</html>
