<!doctype html>
<html>
  <head>
    <title>
      View Image
    </title>

    <script type="text/javascript"
      src="/vue-dev.js">
    </script>

    <link rel="stylesheet"
      href="/styles.css" />

    <script type="text/javascript"
      src="/common.js" >
    </script>

    <script src="./view.js"
      defer="defer" >
    </script>
  </head>

  <body>
    <div id="app-container" >
      <header>
        <!--<nav-bar></nav-bar>-->
        <nav>
          <a href="/frontpage.html"><span class="glyphicon glyphicon-home"></span> Home</a>

          <a href="/upload"><span class="glyphicon glyphicon-cloud-upload"></span>Upload</a>

          <a href="/about"><span class="glyphicon glyphicon-about"></span>About</a>
        </nav>

        <div class="account-widget" >
          <div v-if="account.accountId === 0" >
            <a href="/account-pages/account/create.html" >
              create account
            </a>

            <a href="/account-pages/account/login.html" >
              login
            </a>
          </div>

          <div v-if="account.accountId !== 0">
            <a href="/account"><span class="glyphicon glyphicon-user"></span>Account</a>

            <a href="/logout">
              Logout
            </a>
          </div>
        </div><!-- account-widget -->
      </header>

      <main>
        <div class="image-card" >
          <div class="image-card-title-bar" >
            <h2>
              {{ viewedImageData.imageTitle }}
            </h2>
          </div><!-- image-card-title-bar -->

          <img v-bind:src="viewedImageData.url" />

          <div class="image-card-body" >
            <p>
              {{ viewedImageData.imageDescription }}
            </p>

            <p>
              {{ viewedImageData.upvotes }}

              {{ viewedImageData.downvotes }}

              {{ ( viewedImageData.upvotes - viewedImageData.downvotes ) }}
            </p>

            <div class="image-card-action-bar" >
              <button onclick="upvoteImage( event );">
                +
              </button>

              <button onclick="downvoteImage( event );">
                -
              </button>

              <button onclick="favoriteImage( event );">
                Favorite
              </button>
            </div><!-- image-card-action-bar -->

            <div class="image-card-comment-section"
              v-if="viewedImageData.comments.length === 0" >

              <div class="comment-card"
                v-for="comment in viewedImageData.comments" >
                <div class="comment-card-profile" >
                  <!--
                  <img v-bind:src=""
                    width="32px"
                    height="32px" />
                  -->

                  <a v-bind:href="'accounts/' + comment.userId'">
                    <h3>
                      {{ comment.displayName }}
                    </h3>
                  </a>
                </div><!-- comment-card-profile -->

                <div class="comment-card-body" >
                  <p>
                    {{ comment.message }}
                  </p>

                  <div class="comment-card-action-bar"
                    v-if="viewedImageData.userId === account.userId" >
                    <button onclick="deleteComment();">
                      Delete
                    </button>
                  </div><!-- comment-card-action-bar -->

                </div><!-- comment-card-body -->
              </div><!-- comment-card -->
            </div><!-- image-card-comment-section -->
          </div><!-- image-card-body -->
        </div><!-- image-card -->

      </main>
    </div><!-- app-container -->
  </body>
</html>
