{% extends "layout.html" %}

{% block content %}
<p>Got these rows from the database:</p>

<ul>
{% for n in url %}
  <li> {{ n.id }} </li>
  <li> {{ n.url }} </li>
  <li> {{ n.username }} </li>
  <li> {{ n.uploaddate }} </li>
  <hr>
{% else %}
  <li>No value!</li>
{% endfor %}
</ul>

{% endblock %}
