{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>~Image In~</h1>
    <p>Future Homepage?</p>
  </div>
</div>
<?php
echo 'Most Recent User Upload:';
echo cl_image_tag("https://res.cloudinary.com/hws6kskjw/e8xqkz4zojkrlfl5azp0/fetch/", array("type"=>"fetch"));

?>


{% endblock %}
