{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>~Image In~</h1>
    <p>Future Homepage?</p>
  </div>
</div>


{% endblock %}
