{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>~Image In~</h1>
    <p>Try An Unsigned Upload</p>
  </div>
</div>
<div class="container">
  <h2>We're gonna need a bigger jumbotron...</h2>
  <a href="#" id="upload_widget_opener">Upload multiple images</a>

  <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

  <script type="text/javascript">
  var myUploadWidget;
  document.getElementById("upload_widget_opener")
  .addEventListener(
    "click",
    function() {
      console.log('farts');
    }
  ); // addEventListener

    myUploadWidget = cloudinary.openUploadWidget(
      {
        cloudName: 'hws6kskjw',
        uploadPreset: 'rywvoxo2'
      },
      ( error, result ) => {
        console.log( JSON.stringify( error ) );
        console.log( JSON.stringify( result ) );
      }, false
    );
      </script>
</div>
<!--<div>
  <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    cloudinary.applyUploadWidget('#upload_widget_opener',{
      cloudName: 'hws6kskjw', uploadPreset: 'rywvoxo2',
      cropping: true, folder: 'user_images' }, (error, result) => {    });
    </script>
</div> -->
{% endblock %}
