<!doctype html>
<html>
  <head>
    <title>
      Create Account
    </title>

    <script type="text/javascript"
      src="/vue-dev.js">
    </script>

    <link rel="stylesheet"
      href="/styles.css" />

    <script type="text/javascript"
      src="/common.js" >
    </script>

    <script src="./frontpage.js"
      defer="defer" >
    </script>
  </head>

  <body>
    <div id="app-container" >
      <header>
        <!--<nav-bar></nav-bar>-->
        <nav>
          <a href="/frontpage.html">
            Home
          </a>

          <a href="/upload"
            v-if="accountData.accountId !== 0">
            Upload
          </a>

          <a href="/about">
            About
          </a>
        </nav>

        <div class="account-widget" >
          <div v-if="accountData.accountId === 0" >
            <a href="/account-pages/account/create.html" >
              create account
            </a>

            <a href="/account-pages/account/login.html" >
              login
            </a>
          </div>

          <div v-if="accountData.accountId !== 0">
            <a href="/account">
              Account
            </a>

            <a href="/logout">
              Logout
            </a>
          </div>
        </div><!-- account-widget -->
      </header>

      <main>
        <h1> Most Popular </h1>

        <div class="image-preview-container" >
          <p v-if="imagePreviews.length === 0" >
            loading images...
          </p>

          <div class="image-previews"
            v-if="imagePreviews.length !== 0" >
            <div class="image-preview"
              v-for="imagePreview in imagePreviews" >
              <img v-bind:src="imagePreview.thumbUrl" />

              <a v-bind:href="'/image-pages/' + imagePreview.id">
                {{ imagePreview.title }}
              </a>
              <!-- matt is adding this ------------------------------------------>
              <a v-bind:href="'/account-details/' + imagePreview.username">
                Uploaded By {{ imagePreview.username }}
              </a>
              <a v-bind:href="imagePreview.upvotes">
                {{ imagePreview.upvotes }} Upvotes
              </a>
            </div><!-- image-preview -->
          </div><!-- image-previews -->
        </div><!-- image-preview-container -->
      </main>
    </div> <!-- app-container -->
  </body>
</html>
