<!doctype html>
<html>
  <head>
    <title>
      Create Account
    </title>

    <script type="text/javascript"
      src="/vue-dev.js">
    </script>

    <link rel="stylesheet"
      href="/styles.css" />

    <script type="text/javascript"
      src="/common.js" >
    </script>

    <script src="./frontpage.js"
      defer="defer" >
    </script>
  </head>

  <body>
    <div id="app-container" >
      <header>
        <!--<nav-bar></nav-bar>-->
        <nav>
          <a href="/frontpage.html"><span class="glyphicon glyphicon-home"></span> Home</a>

          <a href="/upload"><span class="glyphicon glyphicon-cloud-upload"></span>Upload</a>

          <a href="/about"><span class="glyphicon glyphicon-about"></span>About</a>
        </nav>
      </header>

  <main>
    <h1> Most Popular </h1>
  </main>
  <div class="image-preview-container" >
          <p v-if="imagePreviews.length === 0" >
            loading images...
          </p>

          <div id="image-previews"
            v-if="imagePreviews.length !== 0" >
            <div class="image-preview"
              v-for="imagePreview in imagePreviews" >
              <img v-bind:src="imagePreview.thumbUrl" />

              <a v-bind:href="'/image-pages/image/' + imagePreview.id">
                {{ imagePreview.title }}
              </a>
              <!-- matt is adding this ------------------------------------------>
              <a v-bind:href="'/account/' + imagePreview.username">
                {{ imagePreview.username }}
              </a>
              <a v-bind:href="imagePreview.upvotes">
                {{ imagePreview.upvotes }}
              </a>
            </div><!-- image-preview -->
          </div><!-- image-previews -->
        </div><!-- image-preview-container -->
</div> <!-- app-container -->
</main>
</body>
</html>
