<title>Image~In</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./vue-dev.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/frontpage.html"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

      <li>
        <a href="/db"><span class="glyphicon glyphicon-hdd"></span>Raw Data</a>
      </li>
      <li>
        <a href="/upload.html"><span class="glyphicon glyphicon-cloud-upload"></span>Upload</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span>Account</a>
      </li>
    </ul>
  </div>
</nav>
<h1> Most Popular </h1>
<div id="tiles">
</div>
<!--Displaying top images -->
<div id="app-container">
  <div class="image-preview-container" >
          <p v-if="imagePreviews.length === 0" >
            loading images...
          </p>

          <div id="image-previews"
            v-if="imagePreviews.length !== 0" >
            <div v-for="image in images"
              class="image-preview" >
              <img v-bind:src="image.thumbUrl" />

              <a v-bind:href="'./image/' + image.secureUrl">
                {{ image.title }}
              </a>
            </div><!-- image-preview -->
          </div><!-- image-previews -->
        </div><!-- image-preview-container -->
</div> <!-- app-container -->
<script>
function makeGetRequest(
    url
  ) {
    let promise = new Promise(
      function(
        resolve,
        reject
      ) {
        var request = new XMLHttpRequest();

        request.open(
          "GET",
          url
        );

        request.onload = function() {
          let status = this.status;

          if (
            status >= 200
            && status < 300
          ) {
            resolve(
              this.response
            );
          }
          else {
            reject(
              this.statusText
            );
          }
        }; // onload callback

        request.send();
      } // executor
    ); // promise

    return promise;
  } // makeGetRequest
  var imagePreviews = [];
  makeGetRequest('/fp/').then(
    ( response ) => {
      // response might be text (a JSON string)
      // or it could be an object...
      // I was getting JSON strings even with
      // the headers set up to return JSON
      let fp_images = JSON.parse(response);
      console.log( 'received response from server' );
      console.log(response);
      //testing
      let tiles = document.getElementById('tiles');
      tiles.innerHTML = '<hr></br>';
      for(var i=0; i<fp_images.images.length; i++){
      //  tiles.innerHTML += fp_images.images[i].url + '<br>';
      //  tiles.innerHTML += fp_images.images[i].uploaddate + '<br><br>';
      imagePreviews.push(fp_images.images[i]);
      }

    } // response callback
  );
var view = new Vue(
  {
    el: '#app-container',
    data: {
      imagePreviews: imagePreviews
    }
  }
);
</script>
